<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"></script> 
    <script type="text/javascript" src="/javascripts/signup.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
    <title>KCL webRTC</title>
</head>
<body>
    <div class="form-div">
        <div class="success"><div class="successful-text">Registration successful</div></div>
        <h1>Signup form</h1>
        <form id="signup_form">
            <label id="fullNameLbl">*Full Name:</label><input type="text" size="25" name="fullName" id="fullNameFld"><br><br>
            <label id="userNameLbl">*User Name:</label><input type="text" size="25" name="userName" id="userNameFld"><br><br>
            <label id="emailLbl">*Email:</label><input type="text" size="25" name="email" id="emailFld"><br><br>
            <label id="passwordLbl">*Password:</label><input type="password" size="25" name="password" id="passwordFld"><br><br>
            <label id="rePasswordLbl">*Re-Password:</label><input type="password" size="25" name="rePassword" id="rePasswordFld"><br><br>
            <input type="submit" value="Register">
        </form>
        <div class="notify">
            <div class="name-notify">
                    <div class="arrow"></div>
                    <div class="arrow-body">Required field, Please fill up</div>
            </div>
            <div class="user-notify">
                    <div class="arrow"></div>
                    <div class="arrow-body">Required field, Please fill up</div>
            </div>
            <div class="email-notify">
                    <div class="arrow"></div>
                    <div class="arrow-body">Required field, Please  </div>
            </div>
            <div class="password-notify">
                    <div class="arrow"></div>
                    <div class="arrow-body">Required field, Please fill up</div>
            </div>
            <div class="repassword-notify">
                    <div class="arrow"></div>
                    <div class="arrow-body">Required field, Please fill up</div>
            </div>
        </div>
    </div>	
</body>
</html>
